---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/GlobalStyles.astro';
---

<Layout title="Welcome to Astro.">
<Header />
<main>
		<h1>About Us</h1>
		<p>This is the about page where you can learn more about our website.</p>
</main>

<Footer />
</Layout>

