---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/GlobalStyles.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
<main>
	<h1>Welcome to the Home Page</h1>
	<p>This is the main content of the homepage.</p>
</main>
<Footer />
</Layout>
